@charset "UTF-8";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {    
    text-decoration: none;    
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
    min-width: 450px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    background-color: rgb(179,229,252);
}

.container {   
    padding: 4rem 0.8rem; 
    margin: 0 auto;
    max-width: 870px;
    display: flex;
    justify-content: center;
    align-items: center;   

    flex-direction: column;
}

.btn {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-bottom: 1px solid transparent;       

    &:hover {
        border-color: #ccc;
    }    
}

.form-wrapper {
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px 0 rgba(41,52,73,.5);

    h1 {
        padding: 2px 0;
        margin-bottom: 1.5rem;
        margin-left: -35px;
        max-width: 330px;
        background-color: #00b0ff;
        color: #fff;
        text-align: center;
    }
}

.create-form {    
    width: 450px;

    &__row {
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.95rem;
        font-weight: 500;
        color: #4c4c4c;
    }

    fieldset {
        padding: 0;
        margin: 0;
        margin-bottom: 1.25rem;
        border: none;       

        &:last-of-type {
            margin-bottom: 0;
        }

        legend {
            margin-bottom: 0.5rem;
            font-size: 0.95rem;
            font-weight: 500;
            color: #4c4c4c;
        }
    }

    &__input {     
        padding: 7px 5px;
        width: 100%; 
        color: #696969;  
        border: none;
        outline: none;
        border: 1px solid #d9d9d9;
        
    }

    &__btn {
        margin-top: 2.15rem;
        display: block;
        font-size: 1.2rem;
    }

    @media (max-width: 900px) {
        width: 400px;
    }

    @media (max-width: 500px) {
        width: 350px;
    }
}

.list {

    &__item {
        padding: 10px 5px;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
    }
}